* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  display: flex;
  flex-direction: row;
}

textarea {
  min-width: 200px;
  height: 300px;
  display: block;
  margin-top: 20px;
  }

textarea + button {
  height: 30px;
}

#sidebox {
  display: flex;
  flex-direction: column;
}

#output {
  display: flex;
  flex-flow: row wrap;
  padding: 0;
}

.card {
  border: 1px solid;
  margin: 1em;
  width: 200px;
  height: 300px;
  display: flex;
  flex-flow: column wrap;
}

input[type=color] {
  border: none;
  padding: 0;
  background-color: lightgray;
  margin-right: .1em;
}

.color-fields {
  display: flex;
  justify-content: space-between;
  align-items: center;
  order: 1;
  font-size: .75em;
  /* border-top: 1px solid; */
  background-color: lightgray;
}

.text-input {
  padding: .5em;
  display: flex;
  justify-content: center;
  /* border: 1px solid red; */
  flex-grow: 4;
  order: 0;
}

.delete-bar {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  border: none;
  background-color: lightgray;
  order: -1;
}

.delete {
  background-color: firebrick;
  color: white;
  font-weight: bold;
  border: none;
}

.delete:hover, input:hover {
  cursor: pointer;
}